.evenDarkRow {
    background-color: #363640; /* Change this to your desired background color */
  }

.evenLightRow {
    background-color: white;
}  

/* Define a custom scrollbar */
::-webkit-scrollbar {
    width: 12px; /* Width of the scrollbar */
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: transparent; /* Color of the track */
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #b4b3b3; /* Color of the handle */
  }
  
  .darkHeaderBg {
    background-color: #2d2d327c;
  }


  @media (min-width: 600px){

    .css-zzms1-MuiSnackbar-root{
      left: 56% !important;
      top:35px !important
    }
    
  }

  @media screen and (max-width:590px){
    .customerTableContainer{
      margin-left: -1rem !important;
    }
  }

  @media screen and (max-width: 500px) {
    .custom-datepicker {
      width: 110px;
    }
    .runHistoryBtn{
      display: none;
    }
  }
  @media screen and (min-width: 500px) {
   .runHistoryIconBtn{
    display: none;    
   }
  }
  @media screen and (max-width: 450px) {
   .tableContainer{
    width: 24rem !important;    
   }
  }
  @media screen and (max-width: 420px) {
   .tableContainer{
    width: 23rem !important;    
   }
  }
  @media screen and (max-width: 400px) {
   .tableContainer{
    width: 22rem !important;    
   }
  }
  @media screen and (max-width: 382px) {
   .tableContainer{
    width: 21rem !important;    
   }
  }

  @media (max-width:600px) {
     .currencyDropdown{
      display: flex;
      flex-direction: column;
      width: 28rem !important;
      padding-right: 0.8rem;
      /* margin-left: -1rem; */

    } 
    .dropdownContainer{
      width: 27rem;
    }
    .tileParent{
      padding-right: 1.5rem;
      width: 27.5rem;
    }
    .tableParent{
      margin-left: -0.8rem;
      width: 27.5rem;
    }
    .titleContainer{
      width: 27.5rem;
    }
    .cardSection{
      width: 10rem;
    }
    .tableHeading{
      font-size: 16px;
    }
   .iconMargin{
    margin-right: 3px !important;
   }
   .inputStyle{
    width: 7rem;
   }
   .tableHeaderRight{
    padding-top: 10px;
   }
   .dropdownHeading{
    padding-bottom: 2px;
   }

   .tileMain{
    width: 27.5rem !important;
   }
  
  }

 

  input:focus {
    outline: none;
  }


  /* For WebKit based browsers (Chrome, Safari, etc.) */
::-webkit-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

/* For Firefox */
::-moz-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

/* For Internet Explorer and Edge */
::-ms-scrollbar {
  width: 5px; /* Adjust the width as needed */
}

table {
  border-spacing: 0;
}

